name: feat

on:
  push:
    branches:
      - feat/*

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build base & bootstrap
        run: |
          tar czvf base.tar.gz -C tofu .
          tar czvf bootstrap.tar.gz -C tofu-bootstrap .
          tar czvf helpers.tar.gz -C modules/helpers .
          cd tofu
          zip -r ../base-smith.zip .
          cd ..
          cd tofu-bootstrap
          zip -r ../bootstrap-smith.zip .
          cd ..
          cd modules
          cd helpers
          zip -r ../../helpers-smith.zip .
          cd ..

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            base-smith.tar.gz
            base-smith.zip
            bootstrap-smith.tar.gz
            bootstrap-smith.zip
            helpers-smith.tar.gz
            helpers-smith.zip
          name: Smith (feat) ${{ github.ref }}