name: main

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build base & bootstrap
        run: |
          tar czvf base.tar.gz -C tofu .
          tar czvf bootstrap.tar.gz -C tofu-bootstrap .
          tar czvf helpers.tar.gz -C modules/helpers .
          tar czvf stackgres.tar.gz -C tofu-stackgres .
          cd tofu
          zip -r ../base.zip .
          cd ..
          cd tofu-bootstrap
          zip -r ../bootstrap.zip .
          cd ..
          cd modules
          cd helpers
          zip -r ../../helpers.zip .
          cd ..
          cd tofu-stackgres
          zip -r ../stackgres.zip .
          cd ..

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            base.tar.gz
            base.zip
            bootstrap.tar.gz
            bootstrap.zip
            helpers.tar.gz
            helpers.zip
            stackgres.tar.gz
            stackgres.zip
          name: Stable
