name: Main

on:
  push:
    branches:
      - feat/release-chart
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build base & bootstrap
        run: |
          tar -C tofu czvf base.tar.gz . 
        #tar czvf bootstrap.tar.gz . -C tofu-bootstrap
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            base.tar.gz
          #  bootstrap.tar.gz
          name: Stable
